.container {
    margin: 10px;
    border: 1px solid gray;
    box-shadow: 5px 5px 5px grey;
    box-sizing: content-box;
}
.navBar {
    display: flex;
    padding: 5px 5px;
    flex-direction: row;
    border-bottom: 1px solid gray;
    justify-content: space-between;
}
.navBar ul li {
    display: inline;
}
.navBar ul {
    text-decoration: none;
    list-style: none;
}
.navBar ul li+li::before {
    content: '/ ';
}
.section {
    display: flex;
    flex-direction: row;
}
.sectionLeft {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2px;
}
.sectionRight {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: bisque;
    padding: 5px;
}
.sectionLeft h1 {
    margin-top: 20px;
    padding: 10px;
    border-bottom: 1px solid gray;
    font-weight: bold;
}
.card {
    padding: 30px;
    height: 30%;
    white-space: nowrap;
}
.card img {
    padding: 5px;
    width: 28%;
    height: 80%;
}
.newCard {
    height: 40%;
    box-sizing: content-box;
}
div.newCard form {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 20px;
}
.newCard form>input {
    width: 60%;
    margin: 5px 0px;
    box-sizing: content-box;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}
.newCard form > div {
    width: 62%;
    margin: 5px 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}
.newCard div > input {
    width: 50%;
    margin: 2px;
    padding: 5px;
}
.newCard input[type = "button"] {
    padding: 10px;
    background-color: green;
}
.productCart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 550px;
}
.productCart > div {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}
div.productCart > div > img {
    height: 70px;
    width: 20%;
    border: 3px solid grey
}
.productDetail {
    margin: 5px;
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: space-between;
}
.productDetail h2+h2 {
    text-align: end;
}
.bill {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray; 
    padding: 5px 0px;
}
.bill div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    align-items: flex-end;
    padding: 5px;
}
.total h2 {
    font-weight: bold;
}